<h1>Services</h1>

<%= form_with url: services_path, method: "GET", local: true do %>
  <%= radio_button_tag(:type, "my") %>
  <%= label_tag(:type_teacher, "I am Teacher") %>
  <%= radio_button_tag(:type, "i_use") %>
  <%= label_tag(:type_student, "I am Student") %>
  <%= radio_button_tag(:type, "other", :checked) %>
  <%= label_tag(:type_student, "Other") %>
  <br>
  <%= radio_button_tag(:sort, "id", :checked) %>
  <%= label_tag(:sort_id, "Default") %>
  <%= radio_button_tag(:sort, "rating") %>
  <%= label_tag(:sort_rating, "Rating") %>
  <%= radio_button_tag(:sort, "price") %>
  <%= label_tag(:sort_price, "Price") %>
  <%= radio_button_tag(:sort, "date") %>
  <%= label_tag(:sort_date, "Publication date") %>

  <br>
  <%= radio_button_tag(:sort_order, "desc", :checked) %>
  <%= label_tag(:sort_order_desc, "UP") %>
  <%= radio_button_tag(:sort_order, "asc") %>
  <%= label_tag(:sort_order_asc, "DOWN")%>

  <%= submit_tag %>
<% end %>



<%@services.each  do |service|%>

  <%= render "layouts/service", service: service %>

<%end %>



