
<%= form_for @service do |f| %>
  <h3>ADD NEW SERVICE!</h3>

  <% if @service.errors.any? %>
    <%@service.errors.full_messages.each do |m| %>
      <div class="alert"><%=m%></div>
    <%end%>
  <%end %>


  <%=f.label :name%> <%=f.text_field :name%>
  <%=f.label :price%> <%=f.text_field :price%>
  <%=f.label :description%> <%=f.text_field :description%>
  <%=f.label :subject%> <%=f.collection_select :subject_id, Subject.all, :id, :name%>

  <%= f.submit "SAVE SERVICE"%>
<%end %>

