<%@users.each do |u| %>
  <div>
    <h2><%=link_to u.name + " " + u.lastname, user_path(u.id)%></h2>
    <h3>Age: <%=u.age%></h3>
    <h3>Rating:<%=u.rating%></h3>
    <h3>Awargs<%=u.awards%></h3>
    <h3>Email<%=u.email%></h3>
    <h3>Phone<%=u.phone%></h3>
    <h3>Description<%=u.description%></h3>
    <%if u.student_ids.include?(@self_user.id) %>
      <h3>Services:</h3>
      <%@self_user.services_of_student(u).each do |s| %>
        <%= link_to s.name, service_path(s.id) %>
      <%end %>

    <%end %>
  </div>

<% end %>