<h1><%=@user.name + " " + @user.lastname%></h1>
<h2>age: <%=@user.age%></h2>
<h2>email: <%=@user.email %></h2>
<h2>description: <%=@user.description %></h2>
<h6>login: <%=@user.login%></h6>
<h6>password: <%=@user.password%></h6>

<%=link_to "EDIT", edit_user_path(@user.id) %>
<hr>
<h1>Services</h1>
<%@user.services.each  do |s|%>
  <h2><%=s.name %></h2>
  <h3>Description: <%= s.description%> </h3>
  <h3>Subject: <%=s.subject.name %></h3>
  <h3>Category: <%=s.category.name %></h3>
  <h3>Price:<%=s.price %></h3>
<% end %>
<hr>
<h1>Students</h1>
<%@user.students.uniq.each  do |s|%>
  <h2><%=s.name + " " + s.lastname %></h2>

  <h3>Age:<%=s.age %></h3>
<% end %>

<hr>
<h1>Courses</h1>
<%@user.student_services.each  do |s|%>
  <h2><%=s.name %></h2>
  <h3>Description: <%= s.description%> </h3>
  <h3>Subject: <%=s.subject.name %></h3>
  <h3>Category: <%=s.category.name %></h3>
  <h3>Price:<%=s.price %></h3>
<% end %>
<hr>
<h1>Teachers</h1>
<%@user.teachers.uniq.each  do |t|%>
  <h2><%=t.name + " " + t.lastname %></h2>

  <h3>Age:<%=t.age %></h3>
<% end %>





