<h1><%=@user.name + " " + @user.lastname%></h1>
<h2>age: <%=@user.age%></h2>
<h2>email: <%=@user.email %></h2>
<h2>description: <%=@user.description %></h2>
<h6>login: <%=@user.login%></h6>
<h6>password: <%=@user.password%></h6>

<%=link_to "EDIT", edit_user_path(@user.id) %>
<hr>



<h1>Services</h1>
<%@user.services.each  do |service|%>
  <h2><%=service.name %></h2>
  <h3>Description: <%= service.description%> </h3>
  <h3>Subject: <%=service.subject.name %></h3>
  <h3>Category: <%=service.category.name %></h3>
  <h3>Price:<%=service.price %></h3>
  <h3>Students:</h3>
  <%service.students.each do |student|%>
    <h4><%=student.name + " " + student.lastname%></h4>
  <%end%>
<% end %>
<hr>






<h1>Students</h1>
<%@user.students.uniq.each  do |student|%>
  <h2><%=student.name + " " + student.lastname %></h2>

  <h3>Age:<%=student.age %></h3>
  <h3>Services:</h3>
  <%student.services_of_student(@user).each do |service| %>
    <h4><%=service.name %></h4>
  <%end %>
<% end %>



<hr>
<h1>Courses</h1>
<%@user.student_services.each  do |s|%>
  <h2><%=s.name %></h2>
  <h3>Description: <%= s.description%> </h3>
  <h3>Subject: <%=s.subject.name %></h3>
  <h3>Category: <%=s.category.name %></h3>
  <h3>Price:<%=s.price %></h3>
  <h3>Teacher:<%=s.teacher.name + " " + s.teacher.lastname %></h3>
<% end %>
<hr>


<h1>Teachers</h1>
<%@user.teachers.uniq.each  do |teacher|%>
  <h2><%=teacher.name + " " + teacher.lastname %></h2>

  <h3>Age:<%=teacher.age %></h3>
  <h3>Services:</h3>
  <%@user.services_of_student(teacher).each do |service| %>
    <h4><%=service.name %></h4>
  <%end %>

<% end %>





