<%= render "layouts/user-info", user: @user%>
<h6>login: <%=@user.login%></h6>
<h6>password: <%=@user.password%></h6>
<%if @user.id == current_user %>

  <%= link_to "EDIT", edit_user_path(@user.id) %>
  <%= link_to "DELETE", user_path(@user.id), method: "DELETE" %>

  <%= link_to "Your orders", orders_path(sort: "student") %>
  <%= link_to "Orders to you", orders_path(sort: "teacher") %>
<%end %>



<div class="flex">
    <div class="hover-block">
    <h1>Services</h1>
    <div class="hover-content">
      <%if @user.services.size > 0 %>
        <%@user.services.each  do |service|%>
          <%= render 'layouts/service', service: service, service_type:"my_service" %>
        <% end %>
      <%elsif @user == @self_user %>
        <h2>You have no services! <%=link_to "Create New Service", new_service_path%> NOW!</h2>
      <%else %>
        <h2>Sorry, there are no services</h2>
      <%end %>
    </div>
  </div>


  <%if @user ==  @self_user%>

    <%if @user.students.size > 0 %>

      <div class="hover-block">
      <h1>Students</h1>
      <div class="hover-content">
        <%@user.students.uniq.each  do |student|%>
          <%= render 'layouts/user-short', student: student, teacher: @user, user: student%>
        <% end %>
      </div>
    </div>
    <%end %>

    <%if @user.student_services.size > 0 %>
      <div class="hover-block">
        <h1>Courses</h1>
        <div class="hover-content">
          <%@user.student_services.each  do |service|%>
            <%= render 'layouts/service', service: service, service_type:"my_course" %>
          <% end %>
        </div>
      </div>
    <%end %>

    <%if @user.teachers.size > 0 %>
      <div class="hover-block">
        <h1>Teachers</h1>
        <div class="hover-content">
          <%@user.teachers.uniq.each  do |teacher|%>
            <%= render 'layouts/user-short', student: @user, teacher: teacher, user: teacher%>
          <% end %>
        </div>
      </div>
    <%end %>

  <%end %>
</div>
