<%@users.each do |u| %>
  <div>
    <h2><%=u.name + " " + u.lastname%></h2>
    <h3>Age: <%=u.age%></h3>
    <h3>Rating:<%=u.rating%></h3>
    <h3>Awargs<%=u.awards%></h3>
    <h3>Email<%=u.email%></h3>
    <h3>Phone<%=u.phone%></h3>
    <h3>Description<%=u.description%></h3>
  </div>

<% end %>